<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: red;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>












  <hr >
  	<center><h1>Dox VPN
  	<hr>
 <!DOCTYPE html>
<html>
<head>
   <title> Try It Yourself </title>
</head>
<body>
   <input type="range" id="demo" />
   <br />
   <button onclick="getValue()"> Get Value </button>
   
   <script type="text/javascript">
       function getValue() {
           alert(document.getElementById('demo').value);
       }
   </script>
</body>
</html>








<hr>

<h1> Server   	
  	
 <hr > 	
<select class="w3-select" name="option">
  <option value=""  selected>SERVER
 </option>
  <option value="1">Best Perfomance</option>
  <option value="2">Austria</option>
  <option value="3">Australia</option>
    <option value="3">Belglia</option>
      <option value="3">Bulgaria</option>
        <option value="3">Canada</option>
          <option value="3">Switzerland</option>
            <option value="3">Germany</option>
              <option value="3">Denmany</option>
                <option value="3">Denmark</option>
                  <option value="3">Spain</option>
                    <option value="3">France</option>
                      <option value="3">united kingdom</option>
                        <option value="3">Hong kong</option>
                          <option value="3">Hunggary</option>
                            <option value="3">India</option>
                              <option value="3">Italy</option>
                                <option value="3">Japan</option>
                                  <option value="3">Netherland</option>
  <option value="3">Norway</option>
  <option value="3">Poland</option>
    <option value="3">Romania</option>
      <option value="3">Serbia</option>
        <option value="3">Sweden</option>
          <option value="3">Singapore</option>
            <option value="3">Slovakia</option>
              <option value="3">United state</option>
</select>
<hr >
<Bold>↓STATUS↓		
<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h6>
   <table style="background-color: silver; width: 6%; margin: 0 auto; border: 2px solid black">
   <!-- The "margin: 1 auto" style aligns the table to the center -->
   	<colgroup>
   	    <col style="background-color: black">
   	    <col style="background-color: black">
   	    <col style="background-color: black">
   	</colgroup>
   	<thead>
   		<th> 
   	    	<th> 0/kbs↑ </th>
   	    	
   	    	<th> ↑00hs:00mins:00s↓ </th>
   	    	
   	    	<th>  </th>
   	    
   	        <td> 0/kbs↓ </td>
   	    <th/>    
   	</tbody>
   </table>
</body>
</html>


<div class="form-group">
  <label for="sel1">Options:</label>
  <select class="form-control" id="sel1">
    <option>Tunnel on Facebook</option>
    <option>Tunnel On browser</option>
    <option>Tunnel on whatsapp</option>
    <option>Tunnel the whole device</option>
  </select>
</div>







<blockquote>
<h6><label class="radio-inline"><input type="radio" name="optradio">TLS 1</label>
<label class="radio-inline"><input type="radio" name="optradio">SSh 2</label>
<label class="radio-inline"><input type="radio" name="optradio">Http 3</label>

<h1> Proxy settings
 
<hr >
<div class="form-group">
  <label for="sel1"><h6>Custom HTTP headers:</label>
  <select class="form-control" id="sel1">
    <option>Header 1</option>
    <option>Headr 2</option>
    <option>Header 3</option>
    <option>Header 4</option>
  </select>
</div>

<hr >
  
  
  <h1>Disconnected
  
  <hr>
  <button type="button" class="btn btn-primary btn-block">Connect</button>
<button type="button" class="btn btn-primary btn-block">Disconnected</button><connect ="(id)"=id class="btn" btn-primary

<hr>

<h6><form>
  <div class="form-group">
    <label for="inputdefault"><center>Host address</label>
    <input class="form-control" id="inputdefault" type="text">
  </div>
  
  
   
   
  </div>
</form>




<hr>


<form>
  <div class="form-group">
    <label for="inputdefault"><center>Server Port</label>
    <input class="form-control" id="inputdefault" type="text">
  </div>
  <h1>   <p style="color: blue"><input type="button" onclick="alert('check your internet connection♲︎︎︎!')" value="♲︎︎︎Dox Vpn has a massage for you!">
  <hr>
  	
  	
  	
  	
  	
  	  	
  	
 <!DOCTYPE html>
<html>
<head>
   <title> Try It Yourself </title>
</head>
<body>
   <input type="checkbox" id="demo" />
   <br />
   <button onclick="getValue()">bad vpn </button>
   
   <script type="text/javascript">
       function getValue() {
           alert(document.getElementById('demo').checked);
       }
   </script>
</body>
</html>
 	<!DOCTYPE html>
<html>
<head>
   <title> Try It Yourself </title>
</head>
<body>
   <input type="checkbox" id="demo" />
   <br />
   <button onclick="getValue()"> Do you like Dox </button>
   
   <script type="text/javascript">
       function getVgyalue() {
           alert(document.getElementById('demo').checked);
       }
   </script>
</body>
</html>
